.Wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
}

.reviewerContainer {
  flex: 1;
  display: flex;
  height: 100%;
  overflow-y: auto;
}

.reviewerListContainer {
  flex: 0 0 22rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  overflow-y: hidden;
  border-inline-end: 1px solid gray;
}

.reviewerInfo {
  flex: 3;
  height: 100%;
  overflow-y: auto;
}

.list {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
  /* margin: 8px; */
  padding: 12px;
  border-radius: 5px;
  overflow-y: auto;
}

.reviwerdData {
  /* height: 100%; */
  margin: 20px;
  width: 100%;
}

.searchInput {
  padding: 8px;
  outline: 1px solid gray;
  border-radius: 5px;
  padding-left: 12px;
  width: 100%;
}
