.reviewersList {
    top: -10px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, repeat(3, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px, 1fr);
    overflow-x: auto;
    grid-template-rows: repeat(3, 1fr);
}

.showReviewersList {
    height: 150px;
    transition: all 0.3s;
    padding: 16px;
}

.hideReviewersList {
    height: 0px;
    transition: all 0.3s;
    overflow: hidden;
    padding: 0px;
}

.backIcon {
    border-radius: 50%;
    cursor: pointer;
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: rgb(100, 116, 139);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* stats card  */

.wrapper {
    border-radius: var(--border-radius);
    border: var(--border-weight) solid;
    display: flex;
    flex-direction: column;
    --border-weight: 1px;
    --border-radius: 12px;
}

.titleWrapper {
    flex: 0 0 35px;
    background-color: #64748b;
    border-radius: calc(var(--border-radius) - var(--border-weight)) calc(var(--border-radius) - var(--border-weight)) 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.infoContainer {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px calc(var(--border-radius) - var(--border-weight)) calc(var(--border-radius) - var(--border-weight));
    min-height: 60px;
    background-color: #FFF;
}

/* stats card end */